#pid{
    font: bold;
    font-size: 20px;
    color: black;
}
#step_heading{
    font-size: 40px;
    font-style: normal;
}
#left{
    width: 80%;
}

#author4{
    border: 1px solid white;
    border-radius: 30px;
}
aside1{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
aside2{
    display: inline-block;
    width: 62%
}
#para1{
    font-size: large;
}
#para2{
    font-size: large;
}
#html-code{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
